/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f93e05;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

#form{
  margin-top:100px;
  border: solid  ;
  padding: 30px;
}

div{
    
    margin: 30px;

}
h1{
  background-color: black;
  color: aliceblue;
  text-align: center;
  
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background-color: #0ba2de;
  padding: 10px;
  border-radius: 8px;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 8px 12px;
  transition: 0.3s;
}

a:hover {
  background-color: #08dc36;
  border-radius: 5px;
}

